* {
    padding: 0px;
    margin: 0px;
}

/* mulish font (Google font) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Roboto&family=Work+Sans:wght@400;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 20px 100px;
}

/* <!-- navSection --> */
/* <!-- ///////////////////////////////////////////////// --> */
.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.webName {
    font-size: 36px;
    font-weight: bold;
}

.webTitle {
    color: #FF5400;
}



.navTitles {
    display: flex;

}

#threeDot {
    display: none;
}


.navTitles>li {
    text-decoration: none;
    display: flex;
    margin-left: 44px;

}



.navTitle a {
    text-decoration: none;
    font-size: 18px;

}





/* <!-- headerBannerSection --> */
.headerBannerSection {
    margin: 40px 0px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    border-radius: 15px;


}

.bannerContentSection {
    padding: 90px;
}

.bannerContent {
    text-align: center;
    color: whitesmoke;

}

.headerBannerTitle {
    font-size: 64px;
}

.headerBannerDescription {
    font-size: 16px;
    margin: 20px 0;
}

.BannerInputBox {
    margin-top: 10px;
    padding: 20px 5px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#BannerInputBox1 {
    background-color: #FF5400;
}

/* ///////////////////////////////////////////////// */
/* main  */
/* Popular-Tours-section */

.Popular-Tours-section {
    display: flex;
    margin: 50px 0;
    /* margin-right: 50px; */
}

.PopularToursContentSection {
    padding-right: 50px;
}


.PopularTourImage {
    width: 540px;
    height: 450px;
}

.PopularToursTittle {
    font-size: 40px;
    margin-bottom: 25px;
}

.PopularToursDescription {
    font-size: 16px;
    margin: 20px 0px;
}


.PopularToursDescriptionTitle {
    margin: 20px 0px;
}

.PopularToursDescriptions {
    font-size: 16px;
    padding-left: 22px;
    margin: 20px 0px;
}

.PopularTourBtn {
    background-color: #FF5400;
    padding: 20px 40px;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

/* ChooseDestinationSection--------------- */


.ChooseDestinationTitle {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.ChooseDestinationDescription {
    margin: 30px 0px;
    text-align: center;
}

.ChooseDestinationPlace {
    width: 80%;
}

.Destination-1-2-Place {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Destination-3-4-5-Place {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-right: 500px;
}

.Destination-6-7-Place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}














/* Responsive for ph  */
/* <!-- ///////////////////////////////////////////////// --> */

@media only screen and (max-width: 600px) {
    body {
        padding: 20px 30px;
    }

    .navTitles {
        display: none;
    }

    #threeDot {
        display: block;
        text-decoration: none;
    }

    /* ----------------------- */
    .bannerContentSection {
        padding: 10px;
    }

    .headerBannerTitle {
        font-size: 34px;
        margin-top: 20px;
    }

    .BannerInputBox {
        display: block;
        margin: 10px auto;

    }

    /* main-->> Popular-Tours-section */

    .Popular-Tours-section {
        flex-direction: column;

    }

    .PopularTourImage {
        width: 100%;
        margin-top: 20px;
    }

    .ChooseDestinationContent {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding-left: 30px;
    }

    .ChooseDestinationPlace>img {
        width: 335px;
    }

    .Destination-1-2-Place {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .Destination-1-2-Place>img {
        width: 435px;
        height: 236px;

    }

    .Destination-3-4-5-Place {
        margin: 20px 0px;
        display: block;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 20px 0px; */
        width: 100%;
    }

    .Destination-3-4-5-Place>img {
        width: 435px;
        height: 236px;
    }

    .Destination-6-7-Place {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 20px; */
        width: 100%;
    }

    .Destination-6-7-Place>img {
        width: 435px;
        height: 236px;
    }

}




/* Responsive for Leptop  */
/* <!-- ///////////////////////////////////////////////// --> */