* {
    padding: 0px;
    margin: 0px;
}

/* mulish font (Google font) */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Roboto&family=Work+Sans:wght@400;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 20px 100px;
}

/* <!-- navSection --> */
/* <!-- ///////////////////////////////////////////////// --> */
.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.webName {
    font-size: 36px;
    font-weight: bold;
}

.webTitle {
    color: #FF5400;
}



.navTitles {
    display: flex;

}

#threeDot {
    display: none;
}


.navTitles>li {
    text-decoration: none;
    display: flex;
    margin-left: 44px;

}



.navTitle a {
    text-decoration: none;
    font-size: 18px;

}





/* <!-- headerBannerSection --> */
.headerBannerSection {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;


}

.bannerContentSection {
    padding: 90px;
}

.bannerContent {
    text-align: center;
    color: whitesmoke;

}

.headerBannerTitle {
    font-size: 64px;
}

.headerBannerDescription {
    font-size: 16px;
    margin: 20px 0;
}

.BannerInputBox {
    margin-top: 10px;
    padding: 20px 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
}


/* Responsive for ph  */
/* <!-- ///////////////////////////////////////////////// --> */

@media only screen and (max-width: 600px) {
    body {
        padding: 20px 30px;
    }

    .navTitles {
        display: none;
    }

    #threeDot {
        display: block;
        text-decoration: none;
    }

    /* ----------------------- */
    .bannerContentSection {
        padding: 10px;
    }

    .headerBannerTitle {
        font-size: 34px;
        margin-top: 20px;
    }

    .BannerInputBox {
        display: block;
        margin: 10px auto;

    }

}




/* Responsive for Leptop  */
/* <!-- ///////////////////////////////////////////////// --> */